h2 {
    font-family: sans-serif;
}

/* all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}

/* the first letter in p that come immediately after any h2 */
h2+p::first-letter {
    font-size: x-large;
}

tr:hover th,
tr:hover td {
    background-color: lightsalmon;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li:first-child a {
    text-decoration: underline;
}

tbody tr:nth-child(odd) {
    background-color: gold;
}

/* highligh text color */

::selection {
    background-color: orangered;
}

nav ul li a:hover {
    cursor: default;
}

input {
    height: 20px;
}

input[type="text"] {
    border-color: lightgray;
}

input[type="message"] {
    height: 50px;
}